<body>
    {% include "header.html" %}
  
   

    <table class="table table-striped container">
    <tr class="table-success">
        <th>Number</th>
        <th>Task Title</th>
        <th>Task Descrprition</th>
        <th>Task Status</th>
    </tr>
    {%for t in task%}
    <tr><td>{{t.id}}</td>
        <td>{{t.title}}</td>
        <td>{{t.description}}</td>
        {%if t.completed%}
        <td>Done</td>
        {%else%}
        <td>Incompleted</td>
        {%endif%}
    </tr>

    {%endfor%}
    
    </table>
</body>

</html>